@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-orange: hsla(13, 85%, 79%, 0.624);
}


#logo {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

html,
body {
    scroll-behavior: smooth !important;
}

/* utility classes */
.mw-1400 {
    max-width: 1400px;
}

.mw-400 {
    max-width: 700px;
}

.h-350 {
    height: 450px;
}

.min-w {
    min-width: 95vh;
}

.bg-gray-800 {
    background-color: #1f2937;
}

.text-gray-400 {
    color: #9ca3af;
}

.text-slate-300 {
    color: #cbd5e1;
}

.pr-40 {
    padding-right: 40px;
}

.desc {
    color: #e0e0e0;
}


/*------------------------ responsive images */

.blur-img {
    filter: blur(1px);
    /* filter: grayscale(100%); */
}


/* ------------------- */

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}



.carousel-item {
    max-width: 1500px;
}

.carousel-item img {
    min-width: 100vh;
    object-fit: cover;
    height: 300px;
}

.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}


.nav-link:hover {
    color: #f4623a;
}

.social-icons .icons {
    max-height: 30px;
    max-width: 30px;
}

.social-icons {
    max-width: 250px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 0.75rem 0.75rem;
    align-items: start;
    border: 1px solid black;
    border-radius: 5px;
}

.icon-center {
    text-align: -webkit-center;
}

.main-section {
    background-color: rgb(243 244 246);
    background-color: #e5e7eb;

}

#direction {
    cursor: pointer;
}

.col .about-para {
    text-align: justify;

}

.about-btn,
.other-service-btn {
    background-color: #5356FF;
    text-align: center;
    display: inline-block;
    color: #f5f5f5;
    border-radius: 10rem;
    font-weight: 700;
}

.about-btn:active {
    box-shadow: 3px 5px #808080;
}

.about-btn:hover {
    background-color: hsl(239, 90%, 69%);
    cursor: pointer;
}

.other-service-btn:active {
    box-shadow: 3px 5px #808080;
}

.other-service-btn:hover {
    background-color: hsl(239, 90%, 69%);
    cursor: pointer;
}



.whatsapp-enquiry {
    position: fixed;
    bottom: 5%;
    right: 2%;
}


/* About me section */
/* .about {
    
} */

.about-content {
    padding-top: 100px;
    /* TODO:
 */
}

/*.single-about-txt*/
.single-about-txt h3 {
    font-size: 18px;
    color: #3c4258;
    text-transform: initial;
    line-height: 1.8;
}

.single-about-txt p {
    font-size: 16px;
    color: #999fb3;
    padding: 35px 0 43px;
    border-bottom: 1px solid #999fb3;
}

.single-about-add-info {
    margin: 35px 0;
}

.single-about-add-info h3 {
    /* color: #636a82;
    font-size: 16px; */
    text-transform: capitalize;
}

.single-about-add-info p {
    font-weight: 300;
    border: 0;
    padding: 0;
    margin-top: 3px;
}

/*.single-about-txt*/

/*.single-about-img */
.single-about-img {
    position: relative;
    box-shadow: 0 5px 20px rgba(14, 25, 80, .30);
}

.single-about-img:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 109%;
    height: 100%;
    background: rgba(31, 44, 108, .3);
}

.single-about-img img {
    max-width: 500px;
    height: 468px;
}

.about-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 109%;
    height: 90px;
    background: #1f2c6c;
}

/*.ab-list-icon */
.about-list-icon ul {
    display: flex;
}

.about-list-icon ul li a {
    padding-right: 22px;
    cursor: pointer;
    color: #fff;
}

.about-list-icon ul li a {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}

.about-list-icon ul li a i {
    margin-left: 6px;
}

/*  */
.section-heading h2 {
    /* font-size: 24px; */


    /* padding-bottom: 50px; */
    border-bottom: 1.5px solid hsl(0, 0%, 30%);
}


/* --------contact section  */

.info-part {
    background-color: hsl(217, 91%, 70%);
    padding: 50px 30px 37px;
    text-align: center;
    height: 250px;
    max-height: 300px;
    border-radius: 1rem;

}

.loc-padd {
    padding: 47px 29px 18px !important;
}

.links:hover{
    font-weight: 500;
    color: #4ade80 !important;
    text-decoration: underline !important;
}
.info-part:hover {
    background-color: hsl(221, 83%, 60%);
}

.icon-part {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin: 0 auto;
}

.cursor-pointer {
    cursor: pointer;
}

.content-part {
    font-size: 18px;
}

.content-part p {
    margin: 0;
    font-size: 1rem;
}