html {
    scroll-behavior: smooth;
}

:root {
    --bg-orange: hsla(13, 85%, 79%, 0.624);
}

.carousel-item {
    max-width: 1500px;
}

.carousel-item img {
    /* max-width: 100vh; */
    /* width: 100%; */
    min-width: 100vh;
    object-fit: cover;
    height: 300px;
}

.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

/* link color */
.nav-link:hover {
    color: #f4623a;
}

.social-icons .icons {
    max-height: 30px;
    max-width: 30px;
    /* width: 100%; */
}

.social-icons {
    max-width: 300px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5rem 0.75rem;
    /* justify-items: center; */
    align-items: start;
    border: 1px solid black;
    border-radius: 5px;
}

/* #fb{
  justify-self: start;
 } */

#direction {
    cursor: pointer;
}

#about-us {
    /* background: aliceblue;
    background-color: var(--bg-orange); */

}

.col .about-para {
    text-align: justify;
    /* column-count: 2;
  column-gap: 20px;
  column-rule-style: solid; */

}

.about-btn,.other-service-btn {

    background-color: #f5f5f5;
    background-color: #5356FF;
    text-align: center;
    display: inline-block;
    color: #f5f5f5;
    border-radius: 10rem;
    font-weight: 700;
}


.about-btn:active {
    box-shadow: 3px 5px #808080;
}

.about-btn:hover {
    background-color: hsl(239, 90%, 69%);
    cursor: pointer;
}

.other-service-btn:active {
    box-shadow: 3px 5px #808080;
}
.other-service-btn:hover {
    background-color: hsl(239, 90%, 69%);
    cursor: pointer;
}



/* media queries */
/* @media screen and (max-width:576px) {
    .other-service-btn{
        font-size: 1.25rem;
        padding:0.75rem;
        margin: 10px;
    }
}
@media screen and (max-width:768px) {
    
} */